{% extends 'base.html' %}
{% load static %}

{% block title %}Priemimo Tvarka - Kindergarten{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Priėmimas į darželį</h1>
        <p>Prašymas stojimui vykdomas internetu</p>
        <a href="{% url 'register' %}" class="btn-register">Registracija</a>
    </div>
    <div class="hero-photo">
        <!-- Add a hero photo here -->
        <img src="{% static 'images/Priėmimas_į_darželį.jpg' %}" alt="Hero Photo" class="main-round">
    </div>
</section>

<!-- Grid Section -->
<section class="grid-vizija">
    <div class="grid-wrapper-vizija">
        <h1>Misija</h1>
        <p>Modernioje, veikti ir pažinti skatinančioje aplinkoje, sukuriame emociškai saugų, pagarbų, bendradarbiavimu su vaiku ir jo šeima grįstą ryšį, taip užtikriname motyvuojančią vaiko socialinę- emocinę ir pažintinę ūgtį, teikdami aukščiausios kokybės švietimo paslaugas.</p>
    </div>
    <div class="grid-wrapper-vizija">
        <h1>Vizija</h1>
        <p>Siekdami užtikrinti harmoningą vaikų asmenybės augimą, orientuojamės į šiuolaikinio ugdymo strategijas, inovatyvius vaikų ugdymo metodus, siekiame būti atviri naujovėms, mokomės konstruktyviai bendradarbiauti, nuolat atsinaujiname ir kuriame savitą, vertybėmis grįstą darželio ugdymo sistemą.</p>
    </div>
</section>

<!-- Lankymo kaina -->
<section>
    {% if lankymo_kaina %}
        <h1>{{ lankymo_kaina.title }}</h1>
        <p>{{ lankymo_kaina.description }}</p>
        <p>{{ lankymo_kaina.additional_info }}</p>
    {% else %}
        <p>No attendance cost information available.</p>
    {% endif %}

    {% if nuolaidos_ir_kompensacijos %}
        <h1>{{ nuolaidos_ir_kompensacijos.title }}</h1>
        <p>{{ nuolaidos_ir_kompensacijos.description }}</p>
        {% if nuolaidos_ir_kompensacijos.image %}
        <div class="hero-photo">
            <img src="{{ nuolaidos_ir_kompensacijos.image.url }}" alt="{{ nuolaidos_ir_kompensacijos.title }}" class="main-round">
        </div>
        {% endif %}
    {% else %}
        <p>No discounts or compensations available.</p>
    {% endif %}
</section>

<!-- Reikalingi dokumentai -->
<section>
<div>
    <h1>Reikalingi dokumentai</h1>
    <p>Šie dokumentai reikalingi pradėjus lankyti darželį pirmąją dieną.</p>
</div>
<div>
    <img src="{% static '' %}" alt="Big Icon" class="big-icon">
    <p>Vaiko gimimo įrašo kopija</p>
</div>
<div>
    <img src="{% static '' %}" alt="Big Icon" class="big-icon">
    <p>Gydytojo pažyma (elektroninė)</p>
</div>
<div>
    <img src="{% static '' %}" alt="Big Icon" class="big-icon">
    <p>Sutartis (pasirašoma pradėjus lankyti darželį)</p>
</div>
</section>

<!-- Adaptacija -->
<section>
    <div class="hero-photo">
        <img src="{% static 'images/Adaptacija.JPG' %}" alt="Hero Photo" class="main-round">
    </div>
    <h1>Adaptacija</h1>
    <p>Kiekvienas vaikas yra skirtingas ir unikalus, todėl ir adaptacija darželyje skirtinga. Vieniems lengvesnė ir trunka trumpiau, jautresniems ji gali užtrukti ilgiau. Rekomendacijos pirmai adaptacijos savaitei:</p>
    <p><b>Pirmoji diena.</b> Rekomenduojame kartu su vaiku praleisti maždaug 1 val., kad su teigiama emocija išeitumėte iš darželio.</p>
    <p><b>Antroji diena.</b> Rekomenduojame kartu atėjus, pabūti apie 30 min ir vaikui įsitraukus į žaidimą, palikti jį mokytojų priežiūrai dar 30 min.</p>
    <p><b>Trečioji diena.</b> Mokytojoms įvertinus, kaip sekasi, rekomenduojama vaiką palikti vieną iki 1valandos. Ypatingai svarbus trumpas atsisveikinimas. Ašarėlės yra natūrali adaptacijos dalis.</p>
    <p><b>Ketvirtoji diena.</b> Mokytojoms rekomendavus, mažylis paliekamas apie 2 valandas.</p>
    <p><b>Penktoji diena.</b> Mokytojos įvertina , kaip sekasi ir mažylio emocinei būklei leidus, vaikas lieka iki 3 valandų ir jau valgo pietus. Susitariama dėl tolimesnės adaptacijos eigos.</p>
    <p>Jeigu Jūsų vaikas jau lankė kitą ugdymo įstaigą, tuomet galite pradėti pirmą dieną nuo pusdienio, sekančią dieną jau su pietų miegeliu. Atkreipiame dėmesį, kad buvimas kartu su vaiku darželyje, ilgi atsisveikinimai paliekant, tik prailgina ir apsunkina vaiko adaptaciją. Kilus emociniams sunkumams, išbandę visus nuraminimo būdus, nedelsdami skambiname tėveliams. Kviečiame pasitikėti mūsų ilgamete patirtimi ir profesionalumu.</p>
</section>

<!-- Adaptacija -->
<section>
    <div>
        <div>
            <h1>Prisiminkite</h1>
            <p>Mažylio ašarėlės – normali reakcija į atsiskyrimą.
                Teigiamos tėvų emocijos rytais, puiki dovana vaikui įveikti adaptacinius sunkumus.
                Maži ir trumpi atsisveikinimo ritualai padeda lengviau išsiskirti ryte.
                Svarbu leisti vaikui ir sau išgyventi įvairius kylančius nemalonius jausmus bent kelis mėnesius, pasitelkti kantrybę ir pasitikėjimą ugdymo įstaiga, nedarant skubotų sprendimų.
                Tėvų nuostatos, jausmai, emocijos betarpiškai susiję su vaiko jausmais, emocijomis ir lengvina arba apsunkina adaptaciją.
            </p>
            <p><b>Padėkime vaikui įveikti adaptaciją kartu bendradarbiaudami :)</b></p>
        </div>
        <div>
            <h1>Svarbu</h1>
            <p>Užtikrinti vaiko fiziologinius ir psichologinius poreikius.
                Mokyti vaiką pasakyti „Stop“, „Man nepatinka“.
                Vaikui girdint apie ugdymo įstaigą ir mokytojus kalbėti pozityviai.
                Kasdien vaikui pasakyti, kad tikite, kad jo diena bus sėkminga ir įdomi.
                Iš vakaro aptarti, kas laukia rytoj.
                Kokybiškas bendras laikas su vaiku kasdien bent 20 minučių: žaidimai, pokalbiai, kita maloni veikla.
                Su vaiku kalbėtis apie jo jausmus.
                Ugdyti vaiko savarankiškumą, savitvarkos įgūdžius.
                Susipažinti su grupės mokytojomis, kitais tėvais, skirti laiko pokalbiams, drąsiai klausti. Prireikus, kreiptis pagalbos.
                Sėkmingos adaptacijos paslaptis – pasitikėjimas ir bendradarbiavimas.</p>
        </div>
    </div>
</section>
<!-- Hero Button -->
<section class="hero-button">
    <div class="button-text">
        <button>Registracija</button>
        <p>Prisijunkite prie „Vaikystės lobių“!</p>
    </div>
</section>
{% endblock %}
