{% extends 'base.html' %}

{% block title %}Priemimo Tvarka - Kindergarten{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Mūsų istorija</h1>
        <p>„Vaikystės lobiai“ – privatus darželis Kauno rajone, kuriame augame kartu su laimingais vaikais!</p>
        <p>2010 m. pradėjęs veikti meninio ugdymo centras ,,Smuiko raktelis“ 2014 m. užaugo iki darželio „Vaikystės lobiai“, kuriame vykdome ikimokyklinį ir priešmokyklinį ugdymą.</p>
    </div>
    <div class="hero-photo">
        <!-- Add a hero photo here -->
        <img src="" alt="Hero Photo">
    </div>
</section>

<!-- Grid Section -->
<section class="grid-vizija">
    <div class="grid-wrapper-vizija">
        <h1>Misija</h1>
        <p>Modernioje, veikti ir pažinti skatinančioje aplinkoje, sukuriame emociškai saugų, pagarbų, bendradarbiavimu su vaiku ir jo šeima grįstą ryšį, taip užtikriname motyvuojančią vaiko socialinę- emocinę ir pažintinę ūgtį, teikdami aukščiausios kokybės švietimo paslaugas.</p>
    </div>
    <div class="grid-wrapper-vizija">
        <h1>Vizija</h1>
        <p>Siekdami užtikrinti harmoningą vaikų asmenybės augimą, orientuojamės į šiuolaikinio ugdymo strategijas, inovatyvius vaikų ugdymo metodus, siekiame būti atviri naujovėms, mokomės konstruktyviai bendradarbiauti, nuolat atsinaujiname ir kuriame savitą, vertybėmis grįstą darželio ugdymo sistemą.</p>
    </div>
</section>

<!-- Grid Section -->
<section class="grid-grupes">
    <div class="grid-wrapper-grupes">
        <h1>Karoliukai ir Perliukai</h1>
        <p>Mažylių nuo 1,5 metukų laukiame „Karoliukų“ ir „Perliukų“ grupėse. Kiekvienoje grupėje dirba po tris patyrusius pedagogus, kurie vaikučius apgaubia savo meile, šiluma ir dėmesiu. Per veiklas ir žaidimus mažyliai įsitraukia į nuostabią vaikystės kelionę darželio takais.</p>
        <p>Mokomės būti savarankiški, išmokstame pasirūpinti savimi: plauname rankutes, patys valgome, atprantame nuo sauskelnių bei žinduko. Pradedame kalbėti ir mokomės atpažinti jausmus. Žaisdami išmokstame dalintis, surandame draugų. Kiekvieną dieną žengiame į priekį, augame ir tobulėjame. Daug dėmesio skiriame pagarbiam bendravimui ir bendradarbiavimui su tėvais, kad vaikučiai kuo lengviau ir greičiau įsilietų į „Vaikystės lobių“ šeimą. </p>
    </div>
    <div class="grid-wrapper-grupes">
        <h1>Kristaliukai</h1>
        <p>Grupėje dirba trys, vaikus ir savo darbą mylinčios pedagogės. Šiame amžiaus tarpsnyje skleidžiasi kiekvieno vaiko savarankiškumas. Nuo paralelinio žaidimo pereinama prie kolektyvinių veiklų, stipriai plečiasi vaiko žodynas, todėl mokytojos siekia sukurti tyrinėjimus bei savarankiškumą skatinančią aplinką, žaidimų metu skatina vaikų bendradarbiavimą. </p>
        <p>Ypač reikšmingi yra ryto ratai, į kuriuos įtraukti smagūs logopediniai beismulkiąją motoriką lavinantys pirštukų žaidimai. Taip stimuliuojami vaiko kalbiniai gebėjimai. Smagios žaidimų popietės žadina pozityvias emocijas, skatina pažintinę veiklą, padeda susidraugauti, išmoko bendradarbiauti. Vaikai su džiaugsmu dalyvauja muzikos, dailės, šokių, sporto, pasakų terapijos, dėmesingumo ugdymo, anglų kalbos užsiėmimuose. Ugdymo(si) metu sukuriami ypatingi emociniai ryšiai, kurie stiprina pasitikėjimą savimi ir skatina savarankiškai pažintinei veiklai. </p>
    </div>
    <div class="grid-wrapper-grupes">
        <h1>Gintarėliai</h1>
        <p>Ikimokyklinio ugdymo draugystės ir bendrystės grupė. Labiausiai mėgstame žaisti žaidimus, nes žaidimai yra svarbiausia ugdymo(si) forma, lemianti jausmų bei vaizduotės vystymąsi. Kasdien žaisdami, net nepajuntame, kaip sužinome vis naujų įdomių dalykų apie save ir mus supantį pasaulį. Išmokstame stebėti, lyginti, įžvelgti skirtumus, muzikuojame, šokame, sportuojame, klausomės daug pasakų. Kasdien laviname kalbą, klausą, regėjimą, skonio pojūčius, pastabumą, kūrybiškumą, atmintį. Pamokėlių metu mokomės ilgiau būti susikaupę, išklausyti ir girdėti, pasakyti ką galvojame. </p>
        <p>Grupėje ypač didelis dėmesys skiriamas edukaciniams kampeliams, čia jauku ir saugu, čia kiekvienas randame ką veikti, susigalvojame linksmų žaidimų, vaidiname, skaičiuojame, piešiame. Taip pat smagiai leidžiame laiką lauke, labai mėgstame sportuoti. Grupės pedagogai remiasi vaiko pasiekimų žingsneliais, siekdami, kad vaikas augtų sveikas, orus, bendraujantis, smalsus, kuriantis ir patirtų ugdymosi sėkmę.</p>
    </div>
    <div class="grid-wrapper-grupes">
        <h1>Deimančiukai</h1>
        <p>Mišri priešmokyklinio ugdymo klasė, nedidelė draugiška šeima, kurią darželyje vadina „dičkiais“. Mes jau ruošiamės keliauti į mokyklą, todėl žaidžiame „Zuikių mokyklėlę“. Joje mokomės pažinti raides ir skaičius, laviname rankytę rašymui. Daugelis čia išmokstame gražiai skaityti, pasakoti ir skaičiuoti. Mokytojų sudaryta unikali individualaus ugdymo programa sudaro galimybes metus arba du ruoštis mokyklai. Mokomės būti draugiški: pažinti savo jausmus, dalintis žaisliukais, užjausti, atsiprašyti, išklausyti ir gerbti draugų nuomonę. Klasėje turime savo ritualus: gražius pasisveikinimus, padėkos maldelių, šiltus apsikabinimus, pasakėlę ir lopšinę prieš miegelį, gimtadienio šventimą. Mėgstame žaisti ir sportuoti kieme. </p>
        <p>Neturime laiko liūdėti, nes lankome daug papildomų užsiėmimų: anglų kalbos, sportinių ir gatvės šokių, dainavimo, dziudo, robotikos, keramikos, dailės, klausomės nuostabių pasakų su Pasakų Teta ir ugdome sąmoningą dėmesingumą. Penktadieniais dažniausiai pramogaujame: važiuojame į ekskursijas, keliaujame į žygius,  šeimininkaujame: kepame pyragus ir sausainėlius arba šiaip smagiai leidžiame laiką.</p>
    </div>
</section>
{% endblock %}
