<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&family=Public+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple_touch_icon.png.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <!-- Add any additional CSS files or meta tags here -->
    <title>{% block title %}Kindergarten{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img src="{% static 'images/logo400.png' %}" alt="Kindergarten Logo" class="header-logo"></a>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">Apie Mus</a></li>
                <li><a href="{% url 'education' %}">Ugdymas</a></li>
                <li><a href="{% url 'nutrition' %}">Maitinimas</a></li>
                <li><a href="{% url 'admissions' %}">Priemimo Tvarka</a></li>
                <li><a href="{% url 'gallery' %}">Galerija</a></li>
                <li><a href="{% url 'contact' %}">Kontaktai</a></li>
            </ul>
        </nav>
        <a href="{% url 'register' %}">Register</a>
    </header>

    <main>
        {% block content %}
        <!-- Main content will go here -->
        {% endblock %}
    </main>

    <footer>
        <div class="footer-section">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo_white400.png' %}" alt="Kindergarten Logo" class="footer-logo"></a>
        </div>
        <div class="footer-section">
            <h2>Menu</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">Apie Mus</a></li>
                <li><a href="{% url 'education' %}">Ugdymas</a></li>
                <li><a href="{% url 'nutrition' %}">Maitinimas</a></li>
                <li><a href="{% url 'admissions' %}">Priemimo Tvarka</a></li>
                <li><a href="{% url 'gallery' %}">Galerija</a></li>
                <li><a href="{% url 'contact' %}">Kontaktai</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h2>Susisiekite</h2>
            <p><a href="tel:+37061154222">+370 611 54 222</a></p>
            <p><a href="mailto:info@vaikysteslobiai.lt">info@vaikysteslobiai.lt</a></p>
            <p>Darbo laikas:</p>
            <p>Pirmadienis - Penktadienis</p>
            <p>07.30-18.00</p>
            <a href="{% url 'register' %}" class="btn-register">Registracija</a>
        </div>
        <div class="footer-section">
            <img src="{% static 'images/kuriame_lietuvos_ateiti.png' %}" alt="Footer Image" class="footer-image">
            <p><a href="https://www.facebook.com/vaikysteslobiai" target="_blank" class="social-link">
                    <i class="fab fa-facebook-square social-icon"></i> Sekite naujienas Facebook
            </a></p>
            <p>&copy;Vaikystės lobiai 2024. Visos teises saugomos </p>
        </div>
    </footer>

    <!-- Add any additional JavaScript files here -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
