{% extends 'base.html' %}

{% block title %}Susisiekite{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Susisiekite</h1>
        <p>El.paštas: info@vaikysteslobiai.lt</p>
        <div>
            <p><b>Direktorė</b></p>
            <p>Gitana Gelžinienė</p>
            <p>El.paštas: gelzinienegitana@gmail.com</p>
            <p>Tel. +370 611 54 222</p>
        </div>
        <div>
            <p><b>Direkt. pavaduotoja</b></p>
            <p>Aušra Stauskienė</p>
            <p>El.paštas: ausra.stauskiene@gmail.com </p>
            <p>Tel. +370 698 73 546</p>
        </div>
        <div>
            <p><b>Elektroninio dienyno konsultantė</b></p>
            <p>Aušrinė Tel. 8 607 72 346</p>
        </div>
        <div>
            <p><b>Darbo laikas</b></p>
            <p>08.00-18.00</p>
        </div>
        <div>
            <p>UAB „Vaikystės lobiai“</p>
            <p>Įmonės kodas: 302690414</p>
        </div>
    </div>
    <div class="hero-photo">
        <!-- Add a hero photo here -->
        <img src="" alt="Hero Photo">
    </div>
</section>

{% endblock %}
