{% extends 'base.html' %}
{% load static %}

{% block title %}Ugdymas{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero hero-education">
    <div class="hero-text">
        <h1>Mūsų stiprybės</h1>
        <p>Į ugdymo sistemą integravome profesionalių ir kompetentingų specialistų vedamus užsiėmimus: rytinį sportą, muziką, dailę, šokius, anglų kalbą, sąmoningą dėmesingumą, socialinių-emocinių įgūdžių programą „Ella“. Vaikams suteikiamos laisvės: tobulėti, siekti, pasitikėti, išdrįsti, suprasti, užjausti, sužinoti ir veikti.</p>
    </div>
    <div class="hero-photo">
        <img src="{% static 'images/Žaisliukai.jpg' %}" alt="Hero Photo">
    </div>
</section>

<!-- Grid Section -->
<section class="grid-education">
    <div class="grid-wrapper-education">
        <h1>Socialinio-emocinio ugdymo programa „Ella“</h1>
        <p>Tai įrodymais pagrįsta pirminės prevencijos pedagoginė programa, skirta ikimokyklinio ir priešmokyklinio amžiaus vaikų emocinėms ir socialinėms kompetencijoms ugdyti. „Ella“ pamokėlių metu vaikai gauna žinių apie emocijas, jausmus, įgyja empatijos, savireguliacijos ir socialinių kompetencijų.</p>
        <p>Žirafa Ella visos programos metu gyvens grupėje, kad būtų bet kada pasiekiama vaikams, ir kad susitikimų metu suformuotos kompetencijos būtų perkeltos į vaikų kasdienybę. Užsiėmimus veda darželio psichologė.</p>
    </div>
    <div class="grid-wrapper-education">
        <h1>Sąmoningo dėmesingumo užsiėmimai</h1>
        <p>Tyrimų duomenimis, vienas iš lemtingų rodiklių vaiko pasirengimui mokyklai yra dėmesingumas. Esame pirmieji Kauno apskrityje nuo 2018 metų į ugdymo sistemą integravę sąmoningo dėmesingumo užsiėmimus. Užsiėmimų metu vaikų dėmesys sutelkiamas į kūno dalis, kvėpavimo pratimus, pojūčius, mokomasi savistabos, jausmų ir emocijų pažinimo. Į užsiėmimus integruota pasakų terapija vaikams ugdo stebėjimo, pastabumo, klausymosi įgūdžius, padeda suprasti jausmus, geriau pažinti ir priimti save bei supančią aplinką. Užsiėmimus veda edukologė, mokytoja metodininkė, vaikų sąmoningo dėmesingumo praktikė.</p>
    </div>
    <div class="grid-wrapper-education">
        <h1>Ryto ratas</h1>
        <p>Ryto ratas - geros ir ramios dienos pradžia. Ratas suburia vaikus bendrai patyriminei veiklai. Rate mokomės aptarti, susitarti, kartu kuriame taisykles. Čia kalbamės apie savo išgyvenimus, jausmus, nuotaikas. Čia sudaryta galimybė kiekvienam rasti draugų, pasisakyti, būti išgirstam, išklausytam, suprastam, matomam, prakalbintam, apkabintam. Vaikai saugioje aplinkoje sistemingai tobulina socialines-emocines, pažintines kompetencijas, komunikavimo įgūdžius.</p>
    </div>
    <div class="grid-wrapper-education">
        <h1>Savarankiško gyvenimo įgūdžių ugdymas</h1>
        <p>Siekiame, kad vaikas pagal savo fizinį amžių ir raidą atliktų tuos veiksmus, darbus, užduotis, kuriuos gali. Darželyje vaikai turi pareigų ir atsakomybių. Išmokstama laikytis bendrų taisyklių ir susitarimų, dalintis ir bendradarbiauti su draugas. Džiaugiamės išleisdami mokyklai pasirengusius savarankiškus, gebančius baigti pradėtą darbą ir atsakingus vaikus.</p>
    </div>
</section>
<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Fizinis aktyvumas</h1>
        <p>Fizinis aktyvumas – svarbiausia ikimokyklinio amžiaus vaiko laisvalaikio praleidimo forma, kuri užtikrina gerą sveikatą bei socialinę ir emocinę gerovę.</p>
        <p>Du kartus vaikai sportuoja kartu su mokytojomis. Veikia dziudo būrelis. Vasaros pradžioje, darželio sporto aikštyne, rengiame tradicinę sporto šventę. Fizinį aktyvumą skatiname ir šokių užsiėmimuose. Vaikai mokosi pažinti savo kūną, stiprina koordinaciją, lavina judesius ir mokosi valso, čia čia čia bei kitų linksmų šokių.</p>
    </div>
    <div class="hero-photo">
        <img src="{% static 'images/Sportas.jpg' %}" alt="Hero Photo">
    </div>
</section>
<!-- Dobule Hero Section -->
<section class="hero hero-education">
    <div class="hero-text">
        <h1>Kūrybiškumas</h1>
        <p>Profesionalios meno pedagogės dailės užsiėmimuose vaikai išlaisvina savo fantaziją, modeliuoja, tapo, kerpa, klijuoja, turi galimybę plėsti juslinę patirtį liesdami įvairias medžiagas ir faktūras, įkvepiami netradicinei kūrybai.</p>
        <p>Mokosi dirbti savarankiškai ir grupėse. Keramikos būrelyje noriai lipdo, eksperimentuoja formomis, mėgaujasi procesu Savo meninius gabumus ir kūrybiškumą ugdo ir su grupių mokytojomis.</p>
        <h1>Muzikinis ugdymas</h1>
        <p>Muzikos užsiėmimuose vaikai atsiduria dainų autorės ir muzikos kūrėjos patikimose rankose. Tada suskamba ne tik dainos, bet ir dūdelių bei varpelių melodijos, kūrybingai mušami būgneliai, perkusijos, metalofonai. Mokomasi pajusti ir atlikti ritmą, pažinti jo užrašymo būdus. Klausydamiesi įvairių stilių ir epochų muzikos, vaikai susipažįsta su instrumentų ir garsų įvairove.</p>
        <p>Muzikuodami vaikai patiria džiaugsmą, kuris išlaisvina ir atveria kelią pozityvioms emocijoms. Sistemingas ir nuoseklus muzikavimas tampa pomėgiu ir poreikiu.</p>
        <h1>Žaidimai ir ritualai</h1>
        <p>Žaidimų erdvė darželyje tampa mini pasauliu, kuriame malonu kūrybiškai leisti laiką ir mokytis vieniems iš kitų.. Ikimokykliniame ir priešmokykliniame amžiuje svarbus aiškus pasikartojantis veiklų ritmas ir ritualai: pasisveikinimas, valgis, darbo, miego vieta, atsisveikinimas, sisteminė struktūruota veikla. Veiklose naudojami ritualai suteikia vaikams saugumo, žinojimo pojūtį, padeda suvokti jį supančią aplinką.</p>
    </div>
    <div class="hero-photo">
        <img src="{% static 'images/Menas.jpg' %}" alt="Hero Photo">
        <img src="{% static 'images/Pramogos.JPG' %}" alt="Hero Photo">
    </div>
</section>
<!-- Hero Section -->
<section class="hero hero-education">
    <div class="hero-text">
        <h1>Pažinimo džiaugsmas</h1>
        <p>Pažinimo džiaugsmas arba kognityvinių-pažintinių kompetencijų ugdymas. Vaiko domėjimasis viskuo, kas yra aplink, gebėjimas sutelkti dėmesį, suvokti, įsiminti, samprotauti, spręsti problemas, kritiškai mąstyti, gebėjimas taikyti įvairius pasaulio pažinimo būdus: stebėti, klausinėti, eksperimentuoti, prognozuoti, ieškoti informacijos formuoja pažinimo kompetencijai būtinus įgūdžius.</p>
    </div>
    <div class="hero-photo">
        <img src="{% static 'images/Žaidimai.JPG' %}" alt="Hero Photo">
    </div>
</section>
<!-- Quad text Section -->
<section class="quad">
    <div class="quad-text">
        <h1>STEAM ugdymas</h1>
        <p>Pažinimo kompetencijai plėtoti darželyje įrengta specializuota patyriminė STEAM zona. Čia daug naujų ir netikėtų atradimų. Specialistų kurtos priemonės, pritaikytos pagal amžiaus grupę padeda skleistis konkretiems vaikų įgūdžiams ir plėstis patirčiai. </p>
        <p>Ugdomas gebėjimas stebėti, veikti, siekti tikslo, bendradarbiaujant su draugais ar pedagogu, pažinti, dalintis savo atradimais. Tyrinėti, kurti, siūlyti problemų sprendimą, nebijoti klysti ir klausti, ieškoti atsakymų, taikyti įvairias priemones, laisvai reikšti savo mintis – reiškia augti ir tobulėti.</p>
    </div>
    <div class="quad-text">
        <h1>Anglų kalba</h1>
        <p>Darželyje vyksta ankstyvasis anglų kalbos ugdymas. Patyrusi mokytojaper daineles, žaidimus, smagią veiklą vaikučius supažindina su anglų kalba, anglakalbių šalių kultūra ir papročiais. Vaikai mokosi tarti pirmuosius žodelius, posakius. Pažengusieji bando žodyną pritaikyti praktinėse situacijose, žaisdami dialogus.</p>
    </div>
    <div class="quad-text">
        <h1>Projektinė veikla</h1>
        <p>Darželyje ir grupėse vykdomi projektai, šventės, renginiai, mokytojų užsiėmimai atliepia ir savyje natūraliai integruoja pažinimo, komunikavimo, skaitmeninę, pilietiškumo, socialinę, kultūrinę, kūrybiškumo, emocinę, sveikos gyvensenos kompetencijas. Išvykos į aplinkinio rajono gamtines apylinkes, skatina tyrinėti, pažinti, pamilti gamtą, veikti jos apsuptyje. </p>
        <p>Ekskursijos į muziejus ar edukacines pamokas drąsina atrasti aplinkinį pasaulį, klausinėti, veikti, naujose erdvėse. Mėgstame į darželį pasikviesti ir svečių. Tai ne tik spektakliai, bet ir įvairių sričių specialistai bei edukatoriai.</p>
    </div>
    <div class="quad-text">
        <h1>Vaiko pažangos stebėjimas ir individualizavimas</h1>
        <p>Vaiko pažanga stebima ir fiksuojama du kartus per metus. Pažangos rezultatai aptariami su tėvais. Tėvai vaiko pažangą gali stebėti darželio dienyne. Esant poreikiui, atsižvelgiant į vaiko raidą ir specialistų rekomendacijas, užduotys ar veiklos gali būti individualizuojamos. Susidūrus su sunkumais teikiama pagalba, dirbama individualiai.</p>
    </div>
</section>
<!-- Hero Button -->
<section class="hero-button">
    <div class="button-text">
        <a href="{% url 'register'%}" class="registracija-button">Registracija</a>
        <p>Prisijunkite prie „Vaikystės lobių“!</p>
    </div>
</section>
{% endblock %}