{% extends 'base.html' %}

{% block title %}Ugdymas - Kindergarten{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Mūsų stiprybės</h1>
        <p>Į ugdymo sistemą integravome profesionalių ir kompetentingų specialistų vedamus užsiėmimus: rytinį sportą, muziką, dailę, šokius, anglų kalbą, sąmoningą dėmesingumą, socialinių-emocinių įgūdžių programą „Ella“. Vaikams suteikiamos laisvės: tobulėti, siekti, pasitikėti, išdrįsti, suprasti, užjausti, sužinoti ir veikti.</p>
    </div>
    <div class="hero-photo">
        <!-- Add a hero photo here -->
        <img src="" alt="Hero Photo">
    </div>
</section>

<!-- Grid Section -->
<section class="grid-education">
    <div class="grid-wrapper-education">
        <h1>Socialinio-emocinio ugdymo programa „Ella“</h1>
        <p>Tai įrodymais pagrįsta pirminės prevencijos pedagoginė programa, skirta ikimokyklinio ir priešmokyklinio amžiaus vaikų emocinėms ir socialinėms kompetencijoms ugdyti. „Ella“ pamokėlių metu vaikai gauna žinių apie emocijas, jausmus, įgyja empatijos, savireguliacijos ir socialinių kompetencijų.</p>
        <p>Žirafa Ella visos programos metu gyvens grupėje,  kad būtų bet kada pasiekiama vaikams, ir kad susitikimų metu suformuotos kompetencijos būtų perkeltos į vaikų kasdienybę. Užsiėmimus veda darželio psichologė.</p>
    </div>
    <div class="grid-wrapper-education">
        <h1>Sąmoningo dėmesingumo užsiėmimai</h1>
        <p>Tyrimų duomenimis, vienas iš lemtingų rodiklių vaiko pasirengimui mokyklai yra dėmesingumas. Esame pirmieji Kauno apskrityje nuo 2018 metų į ugdymo sistemą integravę sąmoningo dėmesingumo užsiėmimus. Užsiėmimų metu vaikų dėmesys sutelkiamas į kūno dalis, kvėpavimo pratimus, pojūčius, mokomasi savistabos, jausmų ir emocijų pažinimo. Į užsiėmimus integruota pasakų terapija vaikams ugdo stebėjimo, pastabumo, klausymosi įgūdžius, padeda suprasti jausmus, geriau pažinti ir priimti save bei supančią aplinką. Užsiėmimus veda edukologė, mokytoja metodininkė, vaikų sąmoningo dėmesingumo praktikė.</p>
    </div>
    <div class="grid-wrapper-education">
        <h1>Ryto ratas</h1>
        <p>Ryto ratas - geros ir ramios dienos pradžia. Ratas suburia vaikus bendrai patyriminei veiklai. Rate mokomės aptarti, susitarti, kartu kuriame taisykles. Čia kalbamės apie savo išgyvenimus, jausmus, nuotaikas. Čia sudaryta galimybė kiekvienam rasti draugų, pasisakyti, būti išgirstam, išklausytam, suprastam, matomam, prakalbintam, apkabintam. Vaikai saugioje aplinkoje sistemingai tobulina socialines-emocines, pažintines kompetencijas, komunikavimo įgūdžius.</p>
    </div>
    <div class="grid-wrapper-education">
        <h1>Savarankiško gyvenimo įgūdžių ugdymas</h1>
        <p>Siekiame, kad vaikas pagal savo fizinį amžių ir raidą atliktų tuos veiksmus, darbus, užduotis, kuriuos gali. Darželyje vaikai turi pareigų ir atsakomybių. Išmokstama laikytis bendrų taisyklių ir susitarimų, dalintis ir bendradarbiauti su draugas. Džiaugiamės išleisdami mokyklai pasirengusius savarankiškus, gebančius baigti pradėtą darbą ir atsakingus vaikus.</p>
    </div>
</section>
{% endblock %}