{% extends 'base.html' %}

{% block title %}Galerija - Kindergarten{% endblock %}

{% block content %}
<section class="gallery">
    {% for category in categories %}
        <h1>{{ category.name }}</h1>
        <div class="gallery-images">
            {% for image in category.images.all %}
                <div class="gallery-item">
                    <img src="{{ image.image.url }}" alt="{{ image.description }}">
                    <p>{{ image.description }}</p>
                </div>
            {% empty %}
                <p>No images available for this category.</p>
            {% endfor %}
        </div>
    {% empty %}
        <p>No categories available.</p>
    {% endfor %}
</section>
{% endblock %}
