{% extends 'base.html' %}

{% block title %}Maitinimas{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Sveika ir subalansuota mityba</h1>
        <p>Darželyje vaikai maitinami mūsų virtuvėje pagaminu, plataus asortimento šviežiu maistu. Maisto racionas subalansuotas ir alergiškiems vaikams. Vaikai turi galimybę pasirinkti ir pakartoti norimo maisto. Dalyvaujame „Vaisių ir daržovių bei pieno ir pieno produktų vartojimo skatinimo vaikų ugdymo įstaigose“ programoje, kasdien užkandžiaujame šviežiais vaisiais bei termiškai neapdorotomis daržovėmis.</p>
    </div>
    <div class="hero-photo">
        <!-- Add a hero photo here -->
        <img src="" alt="Hero Photo">
    </div>
</section>
{% endblock %}