/* Default styling */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a, a:visited, a:link {
    text-decoration: none;
}

/* Remove list bullets */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0px 0px 20px 0px;
}

h3 {
    margin: 0px 0px 20px 0px;
}

p , h2{
    margin: 0px 0px 20px 0px;
    padding: 0; /* Resets all padding */
    margin-block-start: 0; /* Removes block start margin */
    margin-block-end: 0; /* Removes block end margin */
    margin-inline-start: 0; /* Removes inline start margin */
    margin-inline-end: 0; /* Removes inline end margin */
}


.grouped-paras {
    padding-bottom: 20px;
}

.testimonials h2 {
    padding-bottom: 40px;
}

/* Header styling */
header {
    background-color: #FAE0F5; /* Light pink background */
    height: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 52px;
}
nav {
    height: 100%;
    align-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px; /* Space between items */
}

.logo-icon {
    max-height: 40px; /* Adjust based on your logo size */
    margin-right: 15px; /* Space between logo and navigation */
}

nav ul li a {
    text-decoration: none;
    color: #F04B32; /* Red color */
    font-weight: 500;
}

nav ul li a {
    color: #F04B32; /* Default color */
    text-decoration: none; /* Remove default underline */
    position: relative; /* Establish positioning context */
}

nav ul li a::after {
    content: ''; /* Required to create the pseudo-element */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust based on your design */
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #F04B32; /* Underline color */
    transform: scaleX(0); /* Initially hidden */
    transform-origin: bottom right; /* Animation origin point */
    transition: transform 0.3s ease; /* Animation duration and easing */
}

nav ul li a:hover::after {
    transform: scaleX(1); /* Show underline on hover */
    transform-origin: bottom left; /* Change origin point on hover */
}

.header-logo {
    height: 80px;
}

.register-red-header, .register-red {
    background-color: #F04B32;
    color: #FAF0FA;
    padding: 10px 12px;
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.register-red-header:hover, .register-red:hover {
    transform: scale(1.05); /* Scale up by 5% on hover */
}

.register-red-header:active, .register-red:active {
    background-color: #d73b28; /* Slightly darker shade on click */
    transform: scale(1); /* Optionally reset scale to prevent jump on click */
}

/* Footer styling */
footer {
    background-color: #F04B32; /* Footer color */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-section h2 {
    padding-bottom: 12px;
}

.footer-logo {
    width: 136px;
    height: 80px;
}

.hero-button {
    background-color: #FAE0F5;
    text-align: -webkit-center;
    align-content: center;
    padding: 52px;
    height: 216px;
}

.registracija-button {
    background-color: #F04B32;
    color: #FAF0FA;
    padding: 12px 40px;
    margin: 0px 54px;
    border-radius: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 32px;
    border: 0px;
}

.hero-photo img, .gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-photo-main img {
    width: 704px;
    height: 525px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.hero-text h1 , .hero-text-main h1, .lankymo-kaina-section h1, .adaptacija-content h1, .vizija h1, .vizija2 h1, .groups h1 , .main-gallery h2,
 .testimonials h2, .team h2, .hero-text li, .map h2, .group-name, .card-routines h4, .nutrition-navigation h3, .register-form h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #F04B32;
}

.grid-wrapper-education h1 , .grid-wrapper-education p, .quad-text h1, .quad-text p, .grid-wrapper-vizija h1, .grid-wrapper-vizija p,
 .lankymo-kaina p, .adaptacija-content p, .vizija p, .vizija2 p, .grupe p, .grupe h3 , .map p, .admissions-icons p, .card-routines li, .card li, .card p
 , .register-form h4{
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F04B32;
}

.grid-wrapper-education p, .quad-text p , .grid-wrapper-vizija p, .lankymo-kaina p, .adaptacija-content p, .vizija p, .vizija2 p,
 .grupe p, .hero-text-main p, .hero-text li,  .map p  , .admissions-icons p, .card-routines li, .card li, .card p{
    font-weight: 500;
    font-size: 17px;
}

.conact-desc-wrapper   p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #F04B32;}

.admissions-icons p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.hero-text p , .button-text p{
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #F04B32;
}

.hero-text p , .grid-wrapper-education p, .grupe p, .quad-text p, .lankymo-kaina-section p, .nuolaidos-container p, .prisiminkite p{
    padding-right: 80px;
}

.nuolaidos-container p , .nuolaidos-container h1{
    padding-right: 52px;
}

.adaptacija p , .adaptacija h1 {
    padding-right: 0px;
    padding-left: 80px;
}

.prisiminkite p , .adaptacija p{
    padding-bottom: 20px;
}

.lankymo-kaina-section, .nuolaidos-container, .reikalingi-dokumentai, .adaptacija, .prisiminkite, .map{
    padding: 52px;
}

.hero-text {
    flex: 1; /* Text takes up 1 part of the available space */
    width: 50%; /* Optional: Limits text section to 50% of the width */
}

.hero-photo {
    flex: 1; /* Image takes up 1 part of the available space */
    max-width: 50%; /* Optional: Limits image section to 50% of the width */
    align-content: center;
}

.hero-photo img {
    width: 100%;
    height: 100%; /* Keeps aspect ratio */
    object-fit: cover; /* Ensures the image covers the container */
    border-radius: 16px;
}
.hero {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between text and image */
    background-color: #FAF0FA;
    padding: 104px 52px;
}
/* MAIN PAGE */
blockquote {
    padding: 0px;
    margin: 0px;
}

.hero-photo-main img{
    width: 100%;
}
.hero-photo-main {
    width: 50%;
    height: 525px;
}

.hero-main {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between text and image */
    background-color: #F04B32;
    padding-right: 16px;
    padding-left: 52px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.hero-text-main h1, .hero-text-main p {
    color: #fff;
}

.hero-text-main {
    width: 536px;
}

.hero-text-main p{
    font-weight: 400;
}

.white-register-link {
    background-color: #FAF0FA;
    color: #F04B32;
    padding: 12px 40px;
    border-radius: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.see-trough-link {
    background-color: transparent;
    color: #F04B32;
    padding: 14px 25px;
    border-radius: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #F04B32;
}
/* Main Gallery Container */
.daugiau-nuotrauku {
    padding-top: 34px;
    text-align: center;
}

.main-gallery {
    padding: 52px;
    background-color: #FAE0F5; /* Example background */
}

.main-gallery h2 {
    margin-bottom: 20px;
    margin-top: 0px;
}

/* Gallery Container */
.gallery-container-main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Gallery Main Flexbox */
.gallery-main {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform; /* Helps with performance */
    gap: 12px;
}

/* Gallery Items */
.gallery-item {
    flex: 0 0 50%; /* Each item takes up 50% of the container width, showing 2 items per slide */
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
}

/* Navigation Bubbles */
.navigation {
    text-align: center;
    margin-top: 32px;
}

.navigation .bubble {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #FAF0FA;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s; /* Smooth transition on active state */
}

.navigation .bubble.active {
    background: #F04B32; /* Darker color for the active bubble */
}

/* Container for testimonials */

blockquote p ,blockquote cite{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #F04B32;
    text-align: left;
}

blockquote cite {
    font-weight: 700;
    font-size: 20px;
}

.testimonials {
    padding: 54px;
    text-align: center;
    background-color: #FAF0FA;
}

.testimonials-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Updated to match the width of each testimonial item */
    margin: 0 auto;
    overflow: hidden;
}

/* Wrapper for testimonial items */
.testimonials-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: auto; /* Let the width be determined by the number of items */
}

/* Each testimonial item */
.testimonial-item {
    flex: 0 0 600px; /* Updated to a fixed width of 600px for each item */
    box-sizing: border-box;
    padding: 80px 40px;
    text-align: center;
    border: 1px solid #F04B32; /* Optional border */
    background-color: #FFFFFF;
    border-radius: 12px;
}

/* Navigation buttons */
.testimonials-navigation, .routines-navigation {
    text-align: center;
    margin-top: 10px;
}

.nav-button {
    background: #F04B32; /* Button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

/* ABOUT US */
.vizija2 , .vizija {
    padding: 160px 52px;
    box-sizing: border-box; /* Include padding and border in width calculation */

}
.vizija p , .vizija2 p{
    margin-right: 52px;
}

.vizija2 {
    background-color: #FAE0F5;
}

.groups {
    padding: 52px;
    background-color: #FAF0FA;
}

.groups h1 {
    margin: 0px 0px 20px 0px;
}

.grupe h3 {
    font-size: 32px;
}

/*ABOUT US ROUTINES */
/* About Us Page */

.routines-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.routines-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.routines {
    background-color: #FAF0FA;
    padding: 52px;
}
.group-routine {
    flex: 1 0 100%;
    background-color: #FAF0FA;
    overflow-x: auto; /* Horizontal scrolling */
}

.routines-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.card-holder-routines {
    display: flex;
    gap: 10px; /* Space between cards */
}

.card-routines {
    flex: 0 0 auto; /* Prevent cards from shrinking */
    width: 260px; /* Fixed width for cards */
    padding: 20px;
    border-radius: 16px;
    background-color: #FAE0F5;
}

.card-routines h4{
    font-size: 32px;
    background-color: #F04B32;
    color: white;
    border-radius: 16px 16px 0 0;
    margin: -20px;
    margin-bottom: 20px;
    text-align: center;
}

.card-routines li {
    padding-bottom: 6px;
}
/* ABOUT US TEAMS */

.team {
    padding: 52px;
}

/* NUTRITION NUTRITION NUTRITION NUTRITION NUTRITION NUTRITION NUTRITION NUTRITION */
/* NUTRITION */
.nutrition-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.nutrition-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Width adjusts based on number of items */
}

.nutrition-item {
    flex: 0 0 100%; /* Each week takes up 100% of the container width */
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.card-holder {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    scroll-snap-type: x mandatory; /* Optional: smooth scrolling effect */
}

.card-holder::-webkit-scrollbar {
    height: 8px; /* Optional: scrollbar height */
}

.card-holder::-webkit-scrollbar-thumb {
    background-color: #888; /* Optional: scrollbar thumb color */
}

.card-holder::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Optional: scrollbar thumb hover color */
}

.card {
    text-align: center;
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    border-radius: 16px;
    padding: 20px;
    background-color: #FAE0F5;
    margin-right: 10px; /* Space between cards */
    width: 240px; /* Fixed width for cards */
}

.card h4{
    font-size: 32px;
    background-color: #F04B32;
    color: white;
    border-radius: 16px 16px 0 0;
    margin: -20px;
    margin-bottom: 20px;
    text-align: center;
}

.card li {
    padding-bottom: 6px;
}

.card img {
    max-height: 20px; /* Adjust icon size */
    vertical-align: middle;
}

.nutrition-navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 10px;
}

.nav-button {
    font-size: 48px;
    font-weight: 800;
    background: transparent; /* Button background color */
    color: #F04B32;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

/* Gallery Container */
.gallery {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Gallery Images Flex Container */
.gallery-images {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines if needed */
    gap: 10px; /* Adjusts the space between gallery items */
}

/* Gallery Item Styling */
.gallery-item {
    flex: 1 1 30%; /* Flex-grow, flex-shrink, and flex-basis */
    box-sizing: border-box;
    max-width: 30%; /* Ensures each item takes up a maximum of 30% of the row */
}

/* Image Styling */
.gallery-item img {
    width: 100%;
    height: auto;
    display: block; /* Ensures images don't have extra space below them */
}

/* Description Styling */
.gallery-item p {
    text-align: center;
    margin-top: 8px; /* Space between image and description */
}

.misija-vizija , .grupes, .team-container, .quad, .grid-vizija , .lankymo-kaina, .nuolaidos-container , .adaptacija, .grid-education, .admissions-icons,
.prisiminkite   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vizija , .vizija2 , .grupe , .quad-text , .grid-wrapper-vizija , .kaina, .adaptacija-content, .grid-wrapper-education{
    width: 50%;
}

/* EDUCATION */

/* ADMISSION */
.quad , .grid-education, .grid-vizija{
    padding: 52px;
}

.big-icon {
    height: 254px;
    width: 254px;
}

.admissions-icons{
    padding-top: 80px;
    justify-content: space-around;
}
.admissions-icon {
    width: 350px;
    text-align: center;
}

/* FOOTER */
footer {
    padding: 84px 52px;
}

footer h1,footer h2 ,footer a ,footer p {
    color: #FFFFFF;
}

.registracija-button-footer {
    background-color: transparent;
    color: #FAF0FA;
    padding: 0px;
    margin-top: 20px;
    border-radius: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 28px;
    border: 0px;
}


footer li {
    padding: 6px;
}

.footer-section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align all content to the right */
    text-align: right; /* Align text to the right */
}

.footer-section-right p {
    margin: 2px;
}

.footer-section-left {
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

.footer-section-middleleft {
    padding-right: 160px;
}

.footer-section-middleright {
    padding-right: 202px;
}

.footer-image {
    padding-bottom: 85px;
}

.nuolaidos-container {
    background-color: #FAE0F5;
}

.reikalingi-dokumentai {
    background-color: #FAF0FA;
}

.adaptacija , .map {
    background-color: #FAE0F5;
}

.map h2 {
    padding-bottom: 12px;
}

.map iframe {
    padding-top: 40px;
}

.gallery {
    background-color: #FAF0FA;
}

iframe {
    border-radius: 16px;
}
/* MAIN REGISTER */
.button-text {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 12px;
}
/* REGISTER */

.main-text-button {
    display: flex;
    flex-direction: row;
    gap: 54px;
    align-items: center;
}

.conact-desc-wrapper {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 112px 404px;
    background-color: #FAF0FA;
}

form {
    text-align: center;
}

.form-group label {
    display: none;
}

form input[type="text" i]{
    width: 100%;
}

form input[type="email" i]{
    width: 100%;
}

form textarea {
    width: 100%;
    max-width: 100%;
    border: 2px solid #FAE0F5;
    border-radius: 6px;
    height: 32px;
    padding: 0px;
    margin: 0px;
}

.register-form h4 {
    text-align: left;
    font-size: 20px;
}

.register-form p {
    text-align: left;
    font-size: 17px;
}

.register-form-disclaimer p {
    padding-bottom: 20px;
}

.nuo-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.admissions-hero-div p {
    padding: 0px;
}

.admissions-hero-div img {
    height: 25px;
    width: 30px;
}

.admissions-hero-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

form p {
    color: #C24A96;
    font-size: 17px;
    font-family: 'Public Sans', sans-serif;
}

form h5 {
    color: #C24A96;
    font-size: 17px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;

}

form input {
    border: 2px solid #FAE0F5;
    border-radius: 6px;
    height: 32px;
    padding: 0px;
    margin: 0px;
}

.form-group {
    margin-bottom: 12px;
}
/* .main-round-admissions {
    height: 400px;
} */

.register-red-form , .django-message{
    padding: 12px 28px;
    font-family: 'Work Sans', sans-serif; 
    font-size: 14px; 
    font-weight: 400; 
    color: #fff; 
    border: 0px;
    background-color: #F04B32;
    border-radius: 6px;
}

.orange-para {
    color: #F04B32;
}