/* Default styling */
cite {
    display: inline; /* Ensures it stays inline */
    content: none;   /* Remove any added content like dashes */
    margin: 0;       /* Reset margin */
    padding: 0;      /* Reset padding */
}
cite::before {
    content: none; /* Removes any content that might be added */
}
cite::before {
    content: ''; /* Clear any before content like dashes */
}
header {
    background-color: #FAE0F5;
 }

.sharldless {
    background-color: #F04B32;
 }

.shard{
    background-color: #F04B32;
    margin: auto;
}

.slight {
    background-color: #FAE0F5;
    margin: auto;
}

.slighter {
    background-color: #FAF0FA;
    margin: auto;
}

.swhite {
    background-color: #FFFFFF;
    margin: auto;
}

.custom-div-header, .grid-container, .main-gallery , .testimonials, .hero-button, .hero, .misviz, .groups, .routines, .team, .grid-education, .quad
, .nutrition-container, .video-section, .lankymo-kaina-section, .reikalingi-dokumentai, .prisiminkite, .gallery, .map, .register-form, .gallery-page-gallery{
    max-width: 1336px;
    margin: auto;
}

.slight-sleft {
    background: linear-gradient(to right, #FAF0FA 50%, white 50%);
    
    /* Ensure the div takes the full width of its container */
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    display: flex; /* Optional: Adjusts the content inside */
}

.slight-sleft2{
    background: linear-gradient(to right, #FFFFFF 50%, #FAE0F5 50%);
    /* Ensure the div takes the full width of its container */
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    display: flex; /* Optional: Adjusts the content inside */
}

.toggle-icon {
    width: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a, a:visited, a:link {
    text-decoration: none;
}

/* Remove list bullets */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0px 0px 20px 0px;
}

h3 {
    margin: 0px 0px 20px 0px;
}

p , h2{
    margin: 0px 0px 20px 0px;
    padding: 0; /* Resets all padding */
    margin-block-start: 0; /* Removes block start margin */
    margin-block-end: 0; /* Removes block end margin */
    margin-inline-start: 0; /* Removes inline start margin */
    margin-inline-end: 0; /* Removes inline end margin */
}


.grouped-paras {
    padding-bottom: 20px;
}

.mygtukeliai {
    padding-bottom: 40px;
}

/* Header styling */
.main-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 4px rgba(194, 74, 150, 0.1);
}
.custom-div-header {
    background-color: #FAE0F5; /* Light pink background */
    height: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 36px 0px 8px;
}
nav {
    height: 100%;
    align-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 40px; /* Space between items */
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

.gallery-page-gallery h1{
    padding-top: 20px;
}

.logo-icon {
    max-height: 40px; /* Adjust based on your logo size */
    margin-right: 15px; /* Space between logo and navigation */
}

nav ul li a {
    text-decoration: none;
    color: #F04B32; /* Red color */
    font-weight: 500;
}

nav ul li a {
    color: #F04B32; /* Default color */
    text-decoration: none; /* Remove default underline */
    position: relative; /* Establish positioning context */
}

nav ul li a::after {
    content: ''; /* Required to create the pseudo-element */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust based on your design */
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #F04B32; /* Underline color */
    transform: scaleX(0); /* Initially hidden */
    transform-origin: bottom right; /* Animation origin point */
    transition: transform 0.3s ease; /* Animation duration and easing */
}

nav ul li a:hover::after {
    transform: scaleX(1); /* Show underline on hover */
    transform-origin: bottom left; /* Change origin point on hover */
}

.header-logo {
    height: 80px;
}

blockquote cite {
    font-style: normal;
}

.testimonial-item {
    text-align: left;
}
.register-red-header, .register-red {
    background-color: #F04B32;
    color: #FAF0FA;
    padding: 10px 12px;
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.register-red-header:hover, .register-red:hover {
    transform: scale(1.05); /* Scale up by 5% on hover */
}

.register-red-header:active, .register-red:active {
    background-color: #d73b28; /* Slightly darker shade on click */
    transform: scale(1); /* Optionally reset scale to prevent jump on click */
}

.grid-item1, .grid-item3 {
    background-color: #FAF0FA;
}

.grid-item2, .grid-item4 {
    background-color: white;
}

/* Footer styling */
footer {
    background-color: #F04B32; /* Footer color */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-section h2 {
    padding-bottom: 12px;
}

.footer-logo {
    width: 136px;
    height: 80px;
}

.hero-button {
    background-color: #FAE0F5;
    text-align: -webkit-center;
    align-content: center;
    padding: 52px;
    height: 216px;
}

.registracija-button {
    flex-shrink: 0; /* Prevents the button from shrinking */
    background-color: #F04B32;
    color: #FAF0FA;
    padding: 12px 40px;
    border-radius: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 32px;
    border: 0px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.registracija-button:hover, .registracija-button:hover {
    transform: scale(1.05); /* Scale up by 5% on hover */
}
.hero-photo img, .gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-photo-main img {
    width: 704px;
    height: 525px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.hero-text h1 , .hero-text-main h1, .lankymo-kaina-section h1, .adaptacija-content h1, .vizija h1, .vizija2 h1, .groups h1 , .main-gallery h2,
 .testimonials h2, .team h2, .hero-text li, .map h2, .group-name, .card-routines h4, .nutrition-navigation h3, .register-form h1, .gallery h1
 , .gallery-page-gallery h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #F04B32;
}

.grid-wrapper-education h1 , .grid-wrapper-education p, .quad-text h1, .quad-text p, .grid-wrapper-vizija h1, .grid-wrapper-vizija p,
 .lankymo-kaina p, .adaptacija-content p, .vizija p, .vizija2 p, .grupe p, .grupe h3 , .map p, .admissions-icons p, .card-routines li, .card li, .card p
 , .register-form h4{
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F04B32;
}

.grid-wrapper-education p, .quad-text p , .grid-wrapper-vizija p, .lankymo-kaina p, .adaptacija-content p, .vizija p, .vizija2 p,
 .grupe p, .hero-text-main p, .hero-text li,  .map p  , .admissions-icons p, .card-routines li, .card li, .card p{
    font-weight: 500;
    font-size: 17px;
}

.conact-desc-wrapper   p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #F04B32;}

.admissions-icons p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.hero-text p , .button-text p{
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #F04B32;
}

.hero-text p , .grid-wrapper-education p, .grupe p, .quad-text p, .lankymo-kaina-section p, .nuolaidos-container p, .prisiminkite p{
    padding-right: 80px;
}

.grid-wrapper-education {
    padding-bottom: 52px;
}

.nuolaidos-container p , .nuolaidos-container h1{
    padding-right: 52px;
}

.adaptacija p , .adaptacija h1 {
    padding-right: 0px;
    padding-left: 52px;
}

.prisiminkite p , .adaptacija p{
    padding-bottom: 20px;
}

.register-form-disclaimer {
    padding-bottom: 40px;
}

.grupe {
    padding-bottom: 54px;
}
.nutrition-navigation h3 {
    margin: 0px;
}
.lankymo-kaina-section, .nuolaidos-container, .reikalingi-dokumentai, .adaptacija, .prisiminkite, .map{
    padding: 52px;
}

.hero-text {
    flex: 1; /* Text takes up 1 part of the available space */
    width: 50%; /* Optional: Limits text section to 50% of the width */
}

.hero-photo {
    flex: 1; /* Image takes up 1 part of the available space */
    max-width: 50%; /* Optional: Limits image section to 50% of the width */
    align-content: center;
}
.paddedas h1, .paddedas p{
    padding-left: 52px;
    padding-right: 0px;
}

.hero-photo img {
    width: 100%;
    height: 100%; /* Keeps aspect ratio */
    object-fit: cover; /* Ensures the image covers the container */
    border-radius: 16px;
}
.hero {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between text and image */
    background-color: #FAF0FA;
    padding: 104px 52px;
}
/* MAIN PAGE */
blockquote {
    padding: 0px;
    margin: 0px;
}

.hero-photo-main img{
    width: 100%;
}
.hero-photo-main {
    width: 50%;
    height: 525px;
}

.hero-main {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between text and image */
    background-color: #F04B32;
    /* padding-right: 16px;
    padding-left: 52px; */
    padding-top: 42px;
    padding-bottom: 42px;
    max-width: 1336px;
    margin: auto;
}

.hero-text-main h1, .hero-text-main p {
    color: #fff;
}

.hero-text-main {
    width: 536px;
}

.hero-text-main p{
    font-weight: 400;
}

.white-register-link {
    background-color: #FAF0FA;
    color: #F04B32;
    padding: 12px 40px;
    border-radius: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    transition: transform 0.3s ease;
}
.white-register-link:hover {
    transform: scale(1.05);
}


.see-trough-link {
    background-color: transparent;
    color: #F04B32;
    padding: 9px 25px;
    border-radius: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #F04B32;
}


.see-trough-link:hover {
    text-decoration: underline;
}
/* Main Gallery Container */
.daugiau-nuotrauku {
    padding-top: 34px;
    text-align: center;
}

.main-gallery {
    padding: 52px;
    background-color: #FAE0F5; /* Example background */
}

.main-gallery h2 {
    margin-bottom: 20px;
    margin-top: 0px;
}

/* Gallery Container */
.gallery-container-main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Gallery Main Flexbox */
.gallery-main {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform; /* Helps with performance */
    gap: 12px;
}

/* Gallery Items */
.gallery-item {
    flex: 0 0 50%; /* Each item takes up 50% of the container width, showing 2 items per slide */
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
}

/* Navigation Bubbles */
.navigation {
    text-align: center;
    margin-top: 22px;
}

.navigation .bubble {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #FAF0FA;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s; /* Smooth transition on active state */
}

.navigation .bubble.active {
    background: #F04B32; /* Darker color for the active bubble */
}

/* Container for testimonials */

blockquote p ,blockquote cite{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #F04B32;
    text-align: left;
}

blockquote cite {
    font-weight: 700;
    font-size: 20px;
}

.testimonials {
    padding: 52px;
    text-align: center;
    background-color: #FAF0FA;
}

.testimonials-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Updated to match the width of each testimonial item */
    margin: 0 auto;
    overflow: hidden;
}

.mygtukeliai {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Wrapper for testimonial items */
.testimonials-wrapper {
    gap: 20px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: auto; /* Let the width be determined by the number of items */
}

/* Each testimonial item */
.testimonial-item {
    flex: 0 0 600px; /* Updated to a fixed width of 600px for each item */
    box-sizing: border-box;
    padding: 80px 40px;
    text-align: center;
    border: 1px solid #F04B32; /* Optional border */
    background-color: #FFFFFF;
    border-radius: 12px;
}

/* Navigation buttons */
.testimonials-navigation, .routines-navigation {
    text-align: center;
    margin-top: 10px;
}
.main-page-galerija img {
    border-radius: 16px;
}

.nav-button {
    background: #F04B32; /* Button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

/* ABOUT US */
.vizija {
    background-color: #FFFFFF;
}
.vizija2 , .vizija {
    padding: 160px 52px;
    box-sizing: border-box; /* Include padding and border in width calculation */

}
.vizija p , .vizija2 p{
    margin-right: 40px;
}

.vizija2 {
    background-color: #FAE0F5;
}

.groups {
    padding: 52px;
    background-color: #FAF0FA;
    padding-bottom: 0px;
}

.groups h1 {
    margin: 0px 0px 20px 0px;
}

.grupe h3 {
    font-size: 32px;
}

/*ABOUT US ROUTINES */
/* About Us Page */

.routines-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.routines-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.routines {
    background-color: #FAF0FA;
    padding: 52px;
    padding-top: 0px;
}
.group-routine {
    flex: 1 0 100%;
    background-color: #FAF0FA;
    overflow-x: auto; /* Horizontal scrolling */
}

.routines-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}
blockquote p {
    padding-bottom: 40px;
}

.card-holder-routines {
    display: flex;
    gap: 8px; /* Space between cards */
}

.card-routines {
    flex: 0 0 auto; /* Prevent cards from shrinking */
    width: 220px; /* Fixed width for cards */
    padding: 20px;
    border-radius: 16px;
    background-color: #FAE0F5;
}

.card-routines h4, .card-holder h4{
    font-size: 32px;
    background-color: #F04B32;
    color: white;
    border-radius: 16px 16px 0 0;
    padding: 16px 0px;
    margin: -20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
}

.card-holder p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-routines li {
    padding-bottom: 20px;
}
/* ABOUT US TEAMS */

.team {
    padding: 52px;
}
.grupe p{
    padding-right: 40px;
}

.video-section {
    padding: 54px;
    background-color: #FAF0FA;
}

form h5 {
    margin: 0px;
}

.form-padder {
    margin-bottom: 16px;
}

.half-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.half-form input {
    width: 50% !important;
}

.breaker {
    border: 2px solid #FAE0F5;
    margin: 20px 0px;
    border-radius: 2px;
}
.tabbed-para {
    text-indent: 40px;
}

/* NUTRITION NUTRITION NUTRITION NUTRITION NUTRITION NUTRITION NUTRITION NUTRITION */
/* NUTRITION */
.nutrition-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.nutrition-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Width adjusts based on number of items */
}

.nutrition-item {
    flex: 0 0 100%; /* Each week takes up 100% of the container width */
    box-sizing: border-box;
    padding: 0px;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.card-holder {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    scroll-snap-type: x mandatory; /* Optional: smooth scrolling effect */
}

.card-holder::-webkit-scrollbar {
    height: 8px; /* Optional: scrollbar height */
}

.card-holder::-webkit-scrollbar-thumb {
    background-color: #888; /* Optional: scrollbar thumb color */
}

.card-holder::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Optional: scrollbar thumb hover color */
}

.card {
    text-align: center;
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    border-radius: 16px;
    padding: 20px;
    background-color: #FAE0F5;
    margin-right: 10px; /* Space between cards */
    width: 216px; /* Fixed width for cards */
}

.card h4{
    font-size: 32px;
    background-color: #F04B32;
    color: white;
    border-radius: 16px 16px 0 0;
    margin: -20px;
    margin-bottom: 20px;
    text-align: center;
}

.card li {
    padding-bottom: 6px;
}

.card img {
    max-height: 20px; /* Adjust icon size */
    vertical-align: middle;
}

.nutrition-navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.adaptacija-gylph {
    padding-right: 0px;
    padding-left: 0px;
}
.nutricija {
    padding: 40px 52px;
}
.video-section h1 {
    font-size: 48px;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
    color: #F04B32;
}

.nav-button {
    font-size: 48px;
    font-weight: 800;
    background: transparent; /* Button background color */
    color: #F04B32;
    cursor: pointer;
    font-size: 28px;
    margin: 0 5px;
}

.routines-navigation h3{
    margin: 0px;
}

.footer-block1 {
    display: flex;
    flex-direction: row;
}

/* Gallery Container */
.gallery {
    width: 100%;
    padding: 52px 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.asdasd {
    padding-left: 8px;
}

/* Gallery Images Flex Container */
.gallery-images {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines if needed */
    gap: 4px; /* Adjusts the space between gallery items */
    padding-bottom: 52px;
}

/* Gallery Item Styling */
.gallery-item {
    flex: 1 1 30%; /* Flex-grow, flex-shrink, and flex-basis */
    box-sizing: border-box;
    max-width: 30%; /* Ensures each item takes up a maximum of 30% of the row */
}

/* Image Styling */
.gallery-item img {
    width: 100%;
    height: auto;
    display: block; /* Ensures images don't have extra space below them */
}

/* Description Styling */
.gallery-item p {
    text-align: center;
    margin-top: 8px; /* Space between image and description */
}

.misija-vizija , .grupes, .team-container, .quad, .grid-vizija , .lankymo-kaina, .nuolaidos-container , .adaptacija, .grid-education, .admissions-icons,
.prisiminkite   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vizija , .vizija2 , .grupe , .quad-text , .grid-wrapper-vizija , .kaina, .adaptacija-content, .grid-wrapper-education{
    width: 50%;
}

/* EDUCATION */
.quad-text {
    padding-bottom: 40px;
}
.quad-text p {
    padding-right: 40px;
}

.vizija {
    padding-left: 0px;
}
.nutrition-navigation {
    padding-bottom: 40px ;
}

/* ADMISSION */
.quad , .grid-education, .grid-vizija{
    padding: 52px;
}
.grid-education {
    padding-bottom: 0px;
}
.big-icon {
    height: 254px;
    width: 254px;
    padding-bottom: 10px;
}

.admissions-icons{
    padding-top: 80px;
    justify-content: space-around;
}
.admissions-icon {
    width: 350px;
    text-align: center;
}

.ulas {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #F04B32;
    padding-bottom: 40px;
    padding-right: 16px;
}

.ulas li {
    position: relative;
    padding-left: 20px; /* Add space for the custom bullet */
}

.ulas li::before {
    content: '•'; /* Custom bullet point */
    position: absolute;
    left: 0;
    color: #F04B32; /* Bullet color matching text color */
    font-size: 20px; /* Bullet size */
    line-height: 17px; /* Align bullet vertically with text */
}

/* FOOTER */
footer {
    padding: 84px 52px;
    justify-content: center;
    align-items: start;
}

footer h1,footer h2 ,footer a ,footer p {
    color: #FFFFFF;
}

.registracija-button-footer {
    background-color: transparent;
    color: #FAF0FA;
    padding: 0px;
    margin-top: 20px;
    border-radius: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 28px;
    border: 0px;
}


footer li {
    padding: 6px;
}

.footer-section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align all content to the right */
    text-align: right; /* Align text to the right */
}

.footer-section-right p {
    margin: 2px;
}

.footer-section-left {
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

.footer-section-middleleft {
    padding-right: 160px;
}
.testimonial-item {
    align-content: center;
}

.footer-section-middleleft ul li a::after {
    content: ''; /* Required to create the pseudo-element */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust based on your design */
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #FFFFFF; /* Underline color */
    transform: scaleX(0); /* Initially hidden */
    transform-origin: bottom right; /* Animation origin point */
    transition: transform 0.3s ease; /* Animation duration and easing */
}

.footer-section-middleleft ul li a:hover::after {
    transform: scaleX(1); /* Show underline on hover */
    transform-origin: bottom left; /* Change origin point on hover */
}

.footer-section-middleleft ul li a {
    position: relative; /* Set positioning context for pseudo-element */
    display: inline-block; /* Ensures the underline is positioned correctly */
}

.footer-section-middleright {
    padding-right: 182px;
}

.footer-image {
    padding-bottom: 85px;
}

.nuolaidos-container {
    background-color: #FAE0F5;
}

.reikalingi-dokumentai {
    background-color: #FAF0FA;
}

.adaptacija , .map {
    background-color: #FAE0F5;
}

.map h2 {
    padding-bottom: 12px;
}

.map iframe {
    margin-top: 40px;
}
.fiznis-background {
    background-color: #FAE0F5;
}

.gallery {
    background-color: #FAF0FA;
}

iframe {
    border-radius: 16px;
}
/* MAIN REGISTER */
.button-text {
    display: flex;
    flex-direction: column;
    width: 380px;
}
.button-text p {
    margin-top: -20px;
}
/* REGISTER */

.main-text-button {
    display: flex;
    flex-direction: row;
    gap: 54px;
    align-items: center;
}

.conact-desc-wrapper {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 31px 404px 100px 404px;
    background-color: #FAF0FA;
    max-width: 632px;
}

form {
    text-align: center;
}

.form-group label {
    display: none;
}

form input[type="text" i]{
    width: 100%;
}

form input[type="email" i]{
    width: 100%;
}

form textarea {
    width: 100%;
    max-width: 100%;
    border: 2px solid #FAE0F5;
    border-radius: 6px;
    height: 32px;
    padding: 0px;
    margin: 0px;
}

.register-form h4 {
    text-align: left;
    font-size: 20px;
}

.register-form p {
    text-align: left;
    font-size: 17px;
}

.register-form-disclaimer p {
    padding-bottom: 20px;
}
.pgap {
    padding-bottom: 40px;
}
.pgapmini {
    padding-bottom: 20px;
}

.nuo-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.admissions-hero-div p {
    padding: 0px;
}

.admissions-hero-div img {
    height: 25px;
    width: 30px;
}

.admissions-hero-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

form p {
    color: #C24A96;
    font-size: 17px;
    font-family: 'Public Sans', sans-serif;
}

form h5 {
    color: #C24A96;
    font-size: 17px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;

}

form input {
    border: 2px solid #FAE0F5;
    border-radius: 6px;
    height: 32px;
    padding: 0px;
    margin: 0px;
}

.form-group {
    margin-bottom: 12px;
}
.main-round-admissions {
    height: 400px;
}

.grupele {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.register-red-form , .django-message{
    padding: 12px 28px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px; 
    font-weight: 700; 
    color: #fff; 
    border: 0px;
    background-color: #F04B32;
    border-radius: 8px;
}

.django-message {
    border-radius: 0px;
}

.register-red-form:hover {
    transform: scale(1.05); /* Scale up by 5% on hover */
    transition: 0.3s ease;
    cursor: pointer;
}

.orange-para {
    color: #F04B32;
}

.hero-text-education h2 {
    font-size: 20px;
    font-weight: 700;
    color: #F04B32;
    font-family: 'Public Sans', sans-serif;
    padding-bottom: 20px;
}

.gapukas40 {
    padding: 20px 0px;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    padding: 0px !important;
}

/* Grid items */
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    max-height: 400px;
    padding: 46px 0px;
}

/* Grid images */
.grid-image {
    width: 160px;
    height: 160px;
    padding-bottom: 30px;
}

.grid-item4 p {
    margin-bottom: 32px;
}

/* Grid text */
.grid-text {
    margin: 20px 0;
    font-size: 16px;
    color: #F04B32;
    font-weight: 500;
}


.grid-item h3 {
    color: #F04B32;
    font-size: 48px;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif; 
    margin: 0px;
}


.grid-link:hover {
    text-decoration: underline;
}


.header-logo {
    height: 80px; /* Adjust as needed */
}

nav {
    position: relative;
}

/* Hide menu by default on mobile */
#nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

/* Style the hamburger icon */
.menu-toggle img {
    width: 30px; /* Adjust size of hamburger icon */
    height: auto;
}

.footer-block2 {
    display: flex;
    flex-direction: row;
}
.quad {
    padding-bottom: 12px;
}
.hero-photo-menas {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hero-education-menas , .fiznis-background{
    padding: 52px;
}
.nuolaidos-container{
    padding-left: 0px;
    padding-right: 0px;
}

/* GALLERY */
/* Container for the gallery section */
.gallery-page-gallery {
    padding: 20px;
}


/* Grid container for images */
.gallery-images-division {
    display: grid;
    gap: 6px; /* Space between grid items */
}
/* Style for gallery items */
.gallery-item-part {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-height: 300px;
}
.wing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-wing, .right-wing {
    height: 50px;
    width: 50px;
    padding: 4px 16px 40px 16px;
}
.right-wing {
    padding-bottom: 80px;
}
.left-wing {
    padding-bottom: 60px;
}

/* Style for images */
.gallery-item-part img {
    width: 100%; 
    height: 100%; /* Stretch to cover the container height */
    object-fit: cover; /* Maintains aspect ratio while filling the container */
    display: block;
    border-radius: 0px;
}

/* Style for descriptions */
.gallery-item-part p {
    padding: 10px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333;
}
.gallery-images-division {
    grid-template-columns: repeat(3, 1fr);
}

/* Responsive styles */
@media (max-width: 1400px) {
    .button-text p {
        margin-top: -36px;
    }
    .gallery-item img {
        height: 422px;
    }
    .hero-photo {
        height: 240px;
    }
    .main-gallery h2 {
        padding-top: 14px;
    }
    .daugiau-nuotrauku {
        padding-bottom: 14px;
    }
    .hero-text p {
        font-size: 15px;
    }
    .tekstas-edukacija {
        font-size: 17px;
    }
    .fizinis-aktyvumas p {
        padding-right: 40px !important;
    }
    .pazinimo-dziaugsmas p {
        padding-right: 40px !important;
    }
    .grupe {
        padding-bottom: 20px;
    }
    .team-description p {
        font-size: 17px;
        padding-right: 0px;
    }
    .grid-wrapper-education {
        padding-bottom: 0px;
    }
    .team-container div {
        max-width: 100%;
        width: 100%;
    }
    .nutricija {
        padding: 40px 0px 40px 40px !important;
    }
    .video-section h1 {
        font-weight: 800;
        font-family: 'Work Sans', sans-serif;
    }
    .team-container{
        gap: 40px;
    }
    .fizinis-aktyvumas p {
        padding-right: 40px;
    }
    .hero-education{
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .hero-education-menas{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .hero-text-education h2, .quad-text h1, .video-header{
        font-size: 20px !important;
        font-weight: 700;
        font-family: 'Public Sans', sans-serif;
        color: #F04B32;
        padding-bottom: 20px;
    }
    .quad-text h1 {
        padding-bottom: 0px;
    }
    .video-header {
        padding-bottom: 0px;
    }
    .grupele p{
        max-width: 140px;
    }
    .kaina p {
        padding-right: 40px;
    }
    .video-header {
        font-size: 32px !important;
        font-weight: 800;
    }
    .pgap {
        padding-bottom: 40px;
    }
    .gallery-images-division {
        grid-template-columns: repeat(2, 1fr);
    }
    .pgapmini {
        padding-bottom: 20px;
    }
    .fiznis-background {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .grid-wrapper-education h1{
        font-size: 24px !important;
    }
    .grid-wrapper-education p{
        font-size: 17px !important;
    }
    .grid-education {
        padding-top: 0px !important;
    }
    .grid-wrapper-education {
        padding-top: 40px !important;
    }
    .quad-text {
        padding-bottom: 40px;
    }
    .quad-text p {
        padding-right: 40px;
    }
    .quad {
        padding-bottom: 0px;
    }
    .hero-button {
        height: 186px;
    }
    .admissions-icons {
        gap: 40px;
    }
    .admissions-hero {
        display: flex;
        flex-direction: row;  
    }
    .grid-text  {
        font-size: 16px;
        font-weight: 500;
    }
    .grid-item3 p {
        padding: 0px 70px;
    }
    .team-container div h2 {
        padding-bottom: 20px;
    }
    .footer-block1 li {
        font-size: 15px;
        text-align: left;
    }
    .footer-section-middleright h2{
        font-size: 28px;
    }
    .footer-section-middleright p, .footer-section-right p{
        font-size: 15px;
    }
    .nutrition-navigation {
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .hero-text h1 {
        padding-right: 80px;
    }
    .nav-button {
        font-size: 200%;
        padding: 0px 9px;
    }
    .nutrition-item {
        padding-right: 0px;
    }
    .rereverse {
        flex-direction: column-reverse;
    }
    .adaptacija-gylph h1 ,  .adaptacija-gylph p{
        padding-left: 0px;
    }
    .prisiminkite {
        padding: 0px;
    }
    .adaptacija-content p{
        padding-right: 20px;
    }
    .register-form-disclaimer {
        padding-bottom: 30px;
    }
    
    .gallery {
        gap: 20px;
    }
    .gallery-images{
        flex-direction: column;
    }
    .gallery-item {
        max-width: 100%;
    }
    .register-form {
        padding: 40px 84px !important;
    }
    .grid-item {
        height: 347px;
    }
    .grid-item4 {
        background-color: #FAF0FA;
    }
    .grid-item3 {
        background-color: #FFFFFF;
    }
    nav {
        position: static;
        align-items: stretch;
    }
    .active {
        align-items: stretch;
    }
    h1 , h2 , h3{
        font-size: 32px !important;
    }
    .hero-education-menas, .aero, .main-text-button{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }
    .hero-photo-menas {
        display: flex;
        flex-direction: row;
    }

    .hero-text-education, .hero-photo-menas, .hero-photo-contact , .widerson{
        width: 100%;
        max-width: 100%;
    }
    section {
        padding: 40px !important;  /* Forces this padding to take precedence */
    }
    .adaptacija {
        padding: 0px;
    }
    .map iframe {
        margin-top: 20px;
    }
    
    .nuolaidos-container {
        flex-direction: column;
        padding: 0px;
        gap: 40px;
    }
    .nuolaidos-container div {
        max-width: 100%;
    }
    .hero-photo-menas img {
        width: 50%;
        height: 50%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    }
    .hero-text-main {
        width: 344px;
        padding-left: 24px;
    }
    .custom-div-header {
        height: 80px;
        padding: 0px 40px 0px 26px;
    }
    .main-hero-education {
        align-items: flex-start;
    }
    .fizinis-aktyvumas h1{
        padding-right: 20px;
    }
    .fizinis-aktyvumas p{
        padding-right: 20px;
    }
    .header-logo {
        height: 60px;
    }
    #nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px; /* Adjust based on your header height */
        right: 0;
        background-color: #FAE0F5; /* Adjust based on your design */
        width: 100%;
        box-shadow: 0 4px 4px rgba(194, 74, 150, 0.1);
    }
    .register-form-disclaimer {
        padding-bottom: 20px;
    }
    
    .footer-image {
        padding-bottom: 160px;
    }
    nav ul li {
        padding-left: 40px;
        padding-bottom: 32px;
    }
    .vizija2, .vizija {
        padding: 0px;
    }
    .vizija2 {
        padding-left: 20px;
    }
    .grupe h3 {
        font-size: 28px !important;
    }

    #nav-menu.active {
        display: flex;
        padding-top: 24px;
    }

    .menu-toggle {
        display: block;
    }
    footer .footer-block1, .team-container{
        display: flex;
        flex-direction: column;
    }
    footer .footer-block2{
        display: flex;
        flex-direction: row;
    }
    .footer-section-middleleft, .footer-section-middleright {
        padding-right: 0px;
    }
    .admissions-hero-div {
        flex-direction: column;
        align-items: flex-start;
    }
    .grupele img {
        transform: rotate(90deg);
    }
    .register-red-header {
        padding: 0px;
        display: list-item;
        background: transparent;
        padding-left: 40px;
        padding-bottom: 32px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #F04B32;
    }
    .register-red-header:hover, .register-red:hover {
        transform: scale(1.00); /* Scale up by 5% on hover */
    }
    
    .register-red-header:active, .register-red:active {
        background-color: transparent; /* Slightly darker shade on click */
        transform: scale(1); /* Optionally reset scale to prevent jump on click */
    }
    .hero-main {
        padding: 16px 16px 16px 16px !important;
    }
    .mygtukeliai{
        align-items: center;
    }
    .grupe p {
        padding-left: 0px;
        padding-right: 40px;
    }
    .nuolaideles p{
        padding-right: 0px;
    }
    .hero-text-about p {
        padding-right: 40px;
    }
    .vizija2 p {
        margin-right: 0px;
    }
    .footer-section-middleleft {
        padding-left: 10px;
        padding-right: 10px;
    }
    .routines-section {
        padding-top: 0px !important;
    }
    .hero-text-education p{
        padding-right: 0px;
    }
    .adaptacija-gylph {
        gap: 40px;
    }
    .registracija-button {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .grid-wrapper-education p {
        padding-right: 40px;
    }
    .tekstas-edukacija  p{
        padding-right: 40px;
    }
    .quad{
        padding-bottom: 0px !important;
    }
}
/* FOOTER */
@media (max-width: 920px) {
    footer {
        padding: 43px 40px;

    }
    .footer-section-left {
        padding-right: 0px;
    }
    .footer-block1 {
        align-items: flex-start;
    }
    .no-pad-zone2 {
        padding-right: 0px !important;
    }
}

/* Mobile styles (up to 600px) */
@media (max-width: 600px) {
    .no-pad-zone {
        padding-right: 0px !important;
        padding-top: 0px !important;
    }
    .footer-image {
        padding-bottom: 20px;
    }
    .custom-div-header {
        padding: 0px;
    }
    .register-form {
        padding: 6px !important;
    }
    footer {
        padding: 28px 40px;
        align-items: center;
    }
    header {
        padding: 0px 16px;
        padding-left: 8px;
    }
    .navigation {
        margin-top: 30px;
    }
    .testimonial-item {
        padding: 0px;
    }
    .hero-main , .main-text-button, footer, .hero, .misija-vizija, .grupes, .team-container, .grid-education, .quad, .lankymo-kaina
    , .nuolaidos-container, .adaptacija, .prisiminkite, .gallery-images , .conact-desc-wrapper{
        display: flex;
        flex-direction: column;
    }

    .hero-main , .hero, .adaptacija{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .hero-photo-main , .hero-photo, .hero-text, .vizija, .vizija2, .grupe, .grid-wrapper-education, .quad-text, .kaina, .adaptacija-content
    , .gallery-item{
        width: 100%;
        max-width: 100%;
    }
    .hero-education , .nutrition-hero, .rereverse{
        flex-direction: column !important;
    }
    .grupes, .team-container , .grid-wrapper-education  , .quad , .lankymo-kaina, .nuolaidos-container, .admissions-icons{
        gap: 40px;
    }

    section , .nuolaidos-container, .adaptacija{
        padding: 16px !important;  /* Forces this padding to take precedence */
    }
    .button-text {
        width: 250px;
    }
    .hero-text-main {
        width: auto;
    }
    .footer-section {
        padding-right: 0px;
        text-align: center;
    }
    footer .footer-block2{
        flex-direction: column;
    }
    h1 , h2 , h3{
        font-size: 32px !important;
    }
    .registracija-button {
        font-size: 20px !important;
    }
    .nutrition-navigation {
        padding-bottom: 20px ;
    }
    p {
        font-size: 15px !important;
        /* padding-right: 10px !important; */
    }
    .main-text-button {
        gap: 20px;
    }
    .hero-photo-main img {
        height: 288px;
    }
    .hero-photo-main {
        height: 288px;
    }
    .hero-text-main {
        padding-bottom: 20px;
        padding-left: 0px;
    }
    .daugiau-nuotrauku {
        padding-bottom: 40px;
    }
    .testimonial-item {
        padding: 16px 16px;
        flex: 0 0 300px;
    }
    footer {
        padding: 28px 40px;
        gap: 20px;
    }
    .footer-section-right {
        align-items: center;
    }
    .vizija2, .vizija {
        padding: 14px 16px;
        padding-bottom: 40px;
    }

    .misviz {
        padding: 0px !important;
    }
    .hero-text h2 {
        padding-bottom: 20px;
    }

    .registracija-button {
        margin: auto;
    }
    .adaptacija p {
        padding-left: 0px;
    }
    .adaptacija {
        flex-direction: column-reverse !important;
    }
    .prisiminkite {
        padding: 0px;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .grid-item3 {
        background-color: #FAF0FA;
    }
    .grid-item4 {
        background-color: #FFFFFF;
    }
    .footer-block2, .footer-block1 {
        gap: 20px;
    }
    .footer-section-middleleft ul li {
        text-align-last: center;
    }
    .mygtukeliai {
        padding-bottom: 20px;
        padding-top: 20px;
        align-items: center;
    }
    .testimonial-item {
        place-content: center;
    }
    .testimonials-wrapper {
        height: 300px;
    }
    blockquote {
        text-align: left;
    }
    .footer-block1 {
        gap: 10px;
    }
    .footer-section-middleright h2{
        padding-bottom: 20px;
    }
    .top-secc {
        padding: 40px 16px !important;
    }
    .miniatura{
        font-size: 13px !important;
    }
    .about-us-hero , .fiznis-background{
        flex-direction: column;
    }
    .hero-text-about {
        padding-top: 0px;
    }
    .hero-text-about p , .hero-text-about h1, .grupe p, .team-description p, .hero-text h1, .hero-text p, .grid-wrapper-education p, .quad-text p{
        padding-right: 0px;
    }
    .vizija h1 , .vizija2 h1{
        padding-top: 24px;
    }
    .vizija p, .vizija2 p {
        margin-right: 0px;
    }
    .grupe h3 {
        font-size: 20px !important;
    }
    .grupes {
        gap: 0px;
    }
    .team-container div {
        padding-top: 0px;
    }
    .hero-education {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .grid-wrapper-education {
        padding-bottom: 0px !important;
    }
    .fiznis-background , .hero-education-menas{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .hero-text-education, .fiznis-background div{
        padding-top: 0px;
    }
    .hero-photo-menas {
        flex-direction: column;
    }
    .hero-photo-menas img {
        width: 100%;
        max-width: 100%;
    }
    .quad-text h1{
        margin-bottom: 0px;
        padding-bottom: 12px;
    }
    .quad {
        gap: 0px;
    }
    .quad-text {
        padding-bottom: 20px;
    }
    .register-red-header{
        text-align: left;
        margin-right: 40px;
    }
    .nutrition-navigation {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .nutricija{
        padding-left: 8px !important;
    }
    .video-section{
        padding: 40px 16px !important;
    }
    .video-header {
        font-weight: 800;
    }
    .hero-text-priemimas h1{
        padding-right: 40px;
    }
    .admissions-hero {
        flex-direction: column;
        padding: 40px 16px !important;
    }
    .hero-text-priemimas {
        padding-top: 0px;
    }
    .register-form {
        padding-bottom: 40px !important;
    }
    .contact-desc div {
        padding-top: 0px;
    }
    .grid-wrapper-education p {
        font-size: 15px !important;
    }
    .hero-text{
        padding-top: 0px;
    }
    .nuolaidos-container , .conact-desc-wrapper, .aero {
        gap: 16px;
    }
    .conact-desc-wrapper {
        gap: 30px;
    }
    .adaptacija-gylph {
        gap: 0px;
    }
    .kaina p , .adaptacija-content p{
        padding-right: 0px;
    }
    .ulas li{
        text-align: start;
    }
    .ulas{
        padding-right: 0px;
        padding-bottom: 16px;
    }
    .gallery-main {
        width: 600%;
    }
    .gallery-images-division {
        grid-template-columns: 1fr;
    }
    .grid-wrapper-education h1{
        font-size: 20px !important;
    }
    .hero-text-education h2{
        padding-bottom: 12px;
    }
    blockquote p {
        padding-bottom: 8px;
    }
    nav ul li {
        padding-left: 24px;
    }
    .register-red-header{
        padding-left: 24px;
    }
}

